<div class="form__input-group">
  <input type={{type}} id={{name}} name={{name}} class="form__input form__input_{{name}}{{#if class}} {{class}}{{/if}}" {{#if required}}required{{/if}} placeholder=" " {{#if value}}value={{value}}{{/if}} {{#if disabled}}disabled{{/if}}/>
  <label for={{name}} class="form__label form__label_{{name}}">{{label}}</label>
</div>
